{% extends 'base.html.twig' %}
{% block title 'Sarah Yakoubi' %}
{% block body %}

    <div class="card sl-dark text-gray">
        <img class="card-img" src="/images/imgBackground.png" alt="Card image">
        <div class="card-img-overlay">
            <div class="text-center">
                <h1>Bienvenue sur mon site </h1>
                <p class="card-text">
                    Je m'appelle Sarah YAKOUBI, étudiante en Informatique, spécialité Informatique pour les sciences.
                </p>
                <p class="card-text">
                    Passionnée par la programmation, la conception et le développement, <br>  je passe la plupart de mon temps
                    à expérimenter et apprendre de nouvelles technologies, <br> la programmation et les techniques de
                    conception et de développement logiciel….
                </p>
                <p class="card-text">
                    Pour plus d'information, vous pouvez me contacter via :
                </p>
                <div>
                    {# liens vers mes reseaux sociaux:  un lien est ajuté à chaque image #}
                    <a href="https://www.linkedin.com/in/sarah-yakoubi-343787157/" target="_blank"><img src="/images/linkedin.png"></a>
                    <a href="https://www.instagram.com/yakoubi_sarah/?hl=fr" target="_blank"><img src="/images/insta.png"></a>
                    <a href="https://www.facebook.com/profile.php?id=100013632164280" target="_blank"><img src="/images/facebook.png"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
