{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1> Ajouter un nouveau projet</h1>
        {{ include('admin/projets/_form.html.twig', {button: 'Ajouter'}) }}

    </div>
{% endblock %}