{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1> Editer le projet </h1>
        {{ include('admin/projets/_form.html.twig', {button: 'Editer'}) }}

    </div>
{% endblock %}