{% extends 'base.html.twig' %}
{% block title 'Gérer les projets'%}
{% block body %}
    <div class="container mt-4">
        <h1>Gérer les projets</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for projet  in projets %}
            <tr>
                <td>{{ projet.nom }}</td>
                <td>
                    <a href="{{ path('admin.projet.edit', {id: projet.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.projet.delete', {id: projet.id}) }}" class="action">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(projets) }}
        </div>
        <div class="text-right">
            <a href="{{ path('admin.projet.add') }}" class="btn btn-primary">Ajouter un nouveau projet</a>
        </div>
    </div>

{% endblock %}
