<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{# expand-sm  pour s'adapter a taille de l écran #}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand active" href="{{ path('home')}}">Mon site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu =='projets' %} active {% endif %}" href="{{ path('projets.index')}}">Mes Projets</a>
            </li>
            {# vérification sur le role de l'utilisateur afin d'affciher le menu de gestion #}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin.projet.index')}}">Gérer les projets</a>
            </li>
        {% endif %}
        </ul>
        {# vérifier s'il y a un user de connecter ou pas. si user connecté, on affiche formulaire déconnectée sinon formulaire se Connecter #}
        {% if app.user %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
            </li>
        </ul>
            {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('login') }}" class="nav-link">Connexion</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
