{% extends 'base.html.twig' %}
{% block title 'Liste de mes projets'%}
{% block body %}
    <div class="container mt-4">
        <h1>Liste des projets</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Lien</th>
            </tr>
            </thead>
            <tbody>
            {# mesProjets est notre tableau de données envoyé depuis le controleur #}
            {% for projet  in mesProjets %}
                <tr>
                    <td>
                        <a href="{{ path('projets.show',{id: projet.id, slug: projet.slug}) }}">{{ projet.nom }}</a>
                    </td>
                    <td>
                       <a href="{{ projet.lien }}" target="_blank"><img src="/images/link.png" alt="..."></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# mise en place de la pagination  #}
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(mesProjets) }}
    </div>
{% endblock %}
